certifi==2021.10.8
chardet==4.0.0
distorm3==3.4.4
et-xmlfile==1.0.1
future==1.0.0
idna==2.10
jdcal==1.4.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.16.6
openpyxl==2.6.4
pandas==0.24.2
pefile==2019.4.18
Pillow==6.2.2
pycrypto==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==3.5.59
requests==2.27.1
six==1.17.0
tabulate==0.8.10
ujson==1.35
urllib3==1.26.20
yara-python==3.11.0
